/* You can add global styles to this file, and also import other style files */
body {
   background-color: #141111;
   scroll-behavior: smooth;
} 

:root {
   --primary-color: #EB6A1D;
   --secondary-color:#c25719;
}

@font-face {
   font-family: Lovelace-Bold;
   src: url(fonts/Lovelace_Bold_Italic.otf);
}

@font-face {
   font-family: Lovelace-Regular;
   src: url(fonts/Lovelace_Regular.otf);
}

@font-face {
   font-family: Montserrat-Thin;
   src: url(fonts/Montserrat-Thin.ttf);
}

@font-face {
   font-family: Montserrat-Light;
   src: url(fonts/Montserrat-Light.ttf);
}

@font-face {
   font-family: Montserrat-Regular;
   src: url(fonts/Montserrat-Regular.ttf);
}

@font-face {
   font-family: Montserrat-Medium;
   src: url(fonts/Montserrat-Medium.ttf);
}

@font-face {
   font-family: Against-Regular;
   src: url(fonts/Against-Regular.ttf);
}

p {
   font-family: Montserrat-Light, 'sans-serif';
   color: white;
}

h1{
   font-family: Against-Regular, 'sans-serif';
   font-size: 60px;
}

.hidden{
   opacity: 0;
   transition: all 1s;
   transform: translateX(-100px);
   filter: blur(3px);
   z-index: 1;
}

.hidden-slow{
   opacity: 0;
   transition: all 1s ease-in-out;
   transform: translateX(-100px);
   filter: blur(3px);
   z-index: -1;
}

.show{
   opacity: 1;
   filter: blur(0);
   transform: translateX(0);
}
@media(prefers-reduced-motion: reduce){
   .hidden{
       transition: none;
   }
}

// .cocktail-title{
//    font-family: Against-Regular, 'sans-serif';
//    font-size: 60px;
//    margin-bottom: -10px;
//    margin-top: 10px;
// }

// .cocktail-description{
//    font-family: Montserrat-Light, 'sans-serif';
//    color: white;
//    margin-bottom: -10px;
// }

// .cocktail-instructions{
//    font-family: Montserrat-Light, 'sans-serif';
//    color: rgba(255, 255, 255, 0.4);
//    margin-bottom: -10px;
// }

// .cocktail-taste{
//    font-family: Against-Regular, 'sans-serif';
//    color: var(--primary-color);
// }