
<img src="../../../assets/images/img3.png" alt="Image Alt Text" />
<!-- <div [ngClass]="{'cocktail-details-left': isEven, 'cocktail-details-right': !isEven}"> -->
    <div class="cocktail-details-left">
        
        <p class="cocktail-title">{{ cocktail.title }}</p>
        <p class="cocktail-description">{{ cocktail.description }}</p>
        <p class="cocktail-instructions">{{ cocktail.instructions }}</p>
        <p class="cocktail-taste">{{ cocktail.taste }}</p>

    </div>
<!-- </div> -->
  