<div class="hidden">
    <hr>
</div>
<div class="footer">
    <div class="hidden-slow">
        <div class="footer-icons">
            <a href="https://github.com/karlafehir"><img src="../../../assets/icons/github.svg" alt="Icon 2"></a>
            <a href="https://www.instagram.com/karlas.arts/"><img src="../../../assets/icons/instagram.svg" alt="Icon 3"></a>
            <a href="https://www.linkedin.com/in/karla-fehir-a45a72228/?originalSubdomain=hr"><img src="../../../assets/icons/linkedin.svg" alt="Icon 4"></a>
            <a href="mailto:fehirkarla@gmail.com"><img src="../../../assets/icons/email3.svg" alt="Icon 1"></a>
        </div>
        <p class="hidden">© 2023 Karla Fehir</p>
    </div>
</div>