#header {
    color: #fff;
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    p{
        font-family: Against-Regular, 'sans-serif';
        font-size: 30px;
        margin-left: 20px;
    }
    
    .links{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-right: 14px;
    }

    a{
        font-family: Montserrat-Light, 'sans-serif';
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        transition: color 0.3s ease;
        padding: 18px;
        cursor: pointer;
    }

    a:hover{
        color: #EB6A1D; 
    }
    
    .not-logged-in-link {
        color: #333;
        cursor: not-allowed;
    }

    .not-logged-in-link:hover {
        color: #333;
    }
}
