*{
    font-family: Montserrat;
}
.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px 20px 40px 20px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.13);
    box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.552);
    text-align: center;
    color: white;
  }
  
  .login-container h2 {
    color: var(--primary-color);
    font-family: Against-Regular;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    padding: 12px;
  }
  
  label {
    padding: 4px;
  }
  
  input[type="name"],
  input[type="email"],
  input[type="password"] {
    border: none;
    background: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    width: 80%;
    height: 36px;
    padding: 0 12px 0 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  button[type="submit"] {
    margin-top: 20px;
    background-color: var(--primary-color);
    color: black;
    padding: 14px;
    border-radius: 40px;
    border: none;
    width: 140px;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: black;
    color: var(--primary-color);
  }
  
  button.logout-button {
    background-color: transparent;
    color: white;
    padding: 14px;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    width: 140px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button.logout-button:hover {
    background-color: var(--primary-color);
    color: black;
  }
