<div class="hidden">
  <div class="buttons">
      <div *ngFor="let taste of tastes">
          <button class="button-test" (click)="getCocktailByType(taste)">{{taste}}</button>
      </div>
  </div>
</div>

<div class="hidden-slow">
  <div class="container">
    <div *ngFor="let cocktail of tasteCocktails; let i = index" [ngClass]="{'cocktail-left': i % 2 === 0, 'cocktail-right': i % 2 !== 0}">
      <img src="../../../assets/images/img3.png" alt="Image Alt Text" />
      <div [ngClass]="{'cocktail-details-left': i % 2 === 0, 'cocktail-details-right': i % 2 !== 0}">
        <p class="cocktail-title">{{ cocktail.title }}</p>
        <p class="cocktail-description">{{ cocktail.description }}</p>
        <p class="cocktail-instructions">{{ cocktail.instructions }}</p>
        <p class="cocktail-taste">{{ cocktail.taste }}</p>
      </div>
    </div>
  </div>
</div>
  